# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


#PyCharm
*.idea

#jupyter stuff
.ipynb_checkpoints

#Data Storage
*.yml
*.pkl
*.csv
*.xls*

#temp stuff
*.swp

#exclusions
!features.yml
!wals-fields.yml
